h1,h2,h3,h4,h5,p {
	margin: 0px;
	padding: 0px;
}
ul.vanilla {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
body {
	font-family: "Open Sans", sans-serif;
	margin: 0px;
}
.hf {
	background-color: #c33;
	color: white;
	text-align: center;
	padding: 10px;
}
header {
	font-size: 3em;
}
footer {
	font-size: 1.5em;
	clear: both;
}
form {
	margin: 0px;
}
aside {
	width: 175px;
	padding: 10px;
	background-color: #e8e8e8;
	text-align: center;
}
.row > * {
	float: left;
}
.row > * + * {
	margin-left: 5px;
}
h1 {
	background-color: #bbb;
	color: white;
}
#settings li {
	margin-top: 10px;
    background-color: #ccc;
    padding: 5px;
}
#rooms {
	text-align: left;
	margin-top: 10px;
}
#rooms .selected {
	font-weight: bold;
}
#rooms li {
	color: #4D70C4;
	cursor: pointer;
}
#nickname {
	padding: 5px;
	border: 1px solid lightgray;
	text-align: center;
	outline: none;
	display: inline;
}
.buttons {
	width: 100%;
}
.buttons button {
	width: calc(50% - 5px);
	background-color: #ddd;
	padding: 5px;
	outline: none;
	border: 0;
	cursor: pointer;
}
#color {
	padding: 5px;
	cursor: pointer;
}
#colors {
	margin: auto;
	padding: 5px;
	background-color: #eee;
}
#colors li {
	cursor: pointer;
}
#colors li + li {
	margin-top: 5px;
}
#container {
	width: 1000px;
	margin: auto;
}
#chat-container {
	width: 600px;
}
#messages {
	width: calc(100% - 40px);
	min-height: 400px;
	padding: 20px;
	float: left;
	background-color: #e8e8e8;
}
#no-messages {
	text-align: center;
	font-weight: bold;
}
#new-message {
	clear: both;
	border: 1px solid lightgray;
	padding: 0.25em;
}
#write {
	font-family: inherit;
	width: 100%;
	height: auto;
	resize: none;
	outline: none;
	margin: 0px;
	border: 0;
	overflow: hidden;
}
.message {
	clear: both;
	max-width: 60%;
}
.message .content {
	padding: 10px;
	border-radius: 10px;
	word-wrap: break-word;
}
.message + .message {
	margin-top: 15px;
}
.message.other {
	float: left;
}
.message.own {
	float: right;
}
.sender {
	font-size: 8pt;
	text-align: center;
	font-weight: bold;
	color: silver;
}

/*
.message.other:before {
	background-image: url(res/left-arrow.png);
	background-repeat: no-repeat;
	background-size: auto;
	height: 11px;
	top: 5px;
}
.message.own:after {
	background-image: url(res/right-arrow.png)
}
*/